@import './../../scss/colors';

.item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 130px;
        margin: 20px;
        border-radius: 2px;
        box-shadow: 0px 1px 8px 1px rgba($color-grey,.2);
}

.item-image{
    display:flex;
    justify-content: center;
    margin-top: 13px;
}

.item-name{
    text-transform: capitalize;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
}

.powers{
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.item-powers{
    border: solid 1px $color-grey;
    border-radius: 9px;
    padding: 3px;
    margin: 6px;
    font-size: 9px;
    color: $color-white;
    background-color:$color-grey;
    font-weight: bold;
}