
.item{
    border: solid 1px gray;
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-width: 130px;
    border-radius: 10px;
    margin: 5px;
    background-color: lightcyan;
}

.item-image{
    display:flex;
    justify-content: center;
    margin-top: 13px;
}

.item-name{
    text-transform: capitalize;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
}

.powers{
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.item-powers{
    border: solid 1px gray;
    border-radius: 9px;
    padding: 3px;
    margin: 6px;
    font-size: 9px;
    color: white;
    background-color: grey;
    font-weight: bold;
}